//This file provides a template for the input to necklace.
//It can be copied to the directory where you wish to run neckalce 
//(ie. where the output will go) and filled out with correct paths to 
//the input files

// sequencing data
reads_R1="<path>/<sample_1_read_end_1>.fastq.gz,<path>/<sample_2_read_end_1>.fastq.gz,...."
reads_R2="<path>/<sample_1_read_end_2>.fastq.gz,<path>/<sample_2_read_end_2>.fastq.gz,...."

//The reference genome and its annotation
annotation="<path>/<annotation_1>.gtf <path>/<annotation_2>.gtf ..."
genome="<path>/<genome>.fa"

//The genome and annotation of a related species
proteins_related_species="<path>/<related_species_protein_sequence>.fa"

